h1 {
  color: rgb(54, 14, 148);
  font-size: 40px;
  font-family: monospace;
}
ul {
  list-style: none;
  padding-left: 0rem;
}
li::first-letter {
  text-transform: capitalize;
}
.form-in {
  margin-bottom: 32px;
}
#temperature {
  font-size: 45px;
}
.full-page {
  max-width: 650px;
  margin: 0 auto;
}
.right-list {
  font-size: 12px;
  padding-top: 15px;
}

.container {
  padding: 22px 17px 40px;
  margin-top: 40px;
  height: 340px;
  background-color: white;
  max-width: 600px;
  border: 2px solid black;
  border-radius: 10px;
}
.container-form {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}
.container-left {
  text-align: left;
}
.open-source {
  margin: 10px 0px 0px 26px;
  font-size: 10px;
}
.container-right {
}
.img-temp {
  display: flex;
  justify-content: space-between;
}
#text {
  padding: 4px 150px 4px 2px;
  color: rgb(54, 14, 148);
  font-family: monospace;
}
#button {
  margin-left: 18px;
  border-radius: 5px;
  box-shadow: 3px 2px 4px -3px;
  padding: 4px 8px 4px 8px;
  color: white;
  background-color: rgb(54, 14, 148);
}
img {
  width: 70px;
  height: 70px;
}
.date-desc {
  margin-top: 20px;
}
